<div class='col-md-4 col-md-offset-4'>
    <div class='well'>
        <h1 class='text-center'>Account Register</h1>
        {{#if login_error}}
            <br>
            <div class='alert alert-danger'>
                <b>Login Incorrect</b>
                Please try again
            </div>
        {{/if}}
        <form method='post' action='/account/login'>
            <div class='form-group'>
                <label>Select Your School</label>
                <select name='school' class='form-control'>
                    <option selected disabled>-- Select From List --</option>
                    <option value='{{name}}'>{{name}}</option>
                </select>
            </div>
            <div class='input-group'>
                <span class='input-group-addon'>Username</span>
                <input type='username' name='username' class='form-control'>
            </div>
            <br>
            <div class='input-group'>
                <span class='input-group-addon'>Password</span>
                <input type='password' name='password' class='form-control'>
            </div>
            <br>
            <div class='form-group'>
                <input type='submit' class='btn btn-primary pull-right' value='Login'>
            </div>
            <br>
        </form>
    </div>
</div>