<div class='list-group'>
    <a class='list-group-item' href='/'>
        Your Courses
    </a>
      <a class='list-group-item' href='/base'>
        My Base
    </a> 
    <a class='list-group-item' href='/course/bookmarked'>
        Bookmarked Courses
    </a>    
    <a class='list-group-item' href='/account/logout'>
        Account Logout
    </a>
</div>