<html>
    <head>
        <title>{{title}} :: CourseCode</title>
        
        <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel='stylesheet' type='text/css' href='/css/core.css'>
    </head>
    <body>
        <nav class='navbar navbar-default'>
            <div class='container'>
                <a href='/' class='navbar-brand'>
                    CourseCode
                </a>
            </div>
        </nav>
        {{{body}}}
    </body>
</html>