html, body {
    font-family: 'Montserrat', sans-serif;
}

.navbar-default {
    background-color: #2d6797 !important;
    border: 0;
    border-radius: 0;
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

div.jumbotron {
    background-color: #265882;
    margin-top: -20px;
}

div.jumbotron h2 {
    text-align: center; 
    color: white;
}
